In [4]:
import pandas as pd
import matplotlib .pyplot as plt

#Carregar a base
df = pd.read_excel(r"BaseFuncionarios.xlsx")

df.head()

,ID RH,Nome,Sobrenome,Genero,Data de Nascimento,Endereço,Data de Contratacao,Data de Demissao,Salario,VR,VT,Cargo,Área,Horas Extras,Avaliação do Funcionário
0,195,ADELINO,WERNECK,M,1997-04-27,"Av. Guilherme Campos, 500 - Jardim Santa Geneb...",2015-04-23,NaT,12954,700,200,Coordenador,Administrativo,161,9.8
1,102,ADRIANO,SOUZA,M,1993-12-09,"Av. Limeira, 722 - Areião, Piracicaba - SP, 13...",2020-12-05,NaT,1635,500,225,Estagiário,Marketing,57,7.3
2,342,ALFREDO,ARAUJO,M,1986-08-14,"Av. Limeira, 722 - Areião, Piracicaba - SP, 13...",2020-04-02,NaT,11153,750,300,Coordenador,Marketing,70,8.7
3,320,ALINE,SILVA,F,1976-06-22,"Av. Paulista, 1230 - Bela Vista, São Paulo - S...",2015-08-13,2021-08-12,898,500,200,Estagiário,Operações,174,7.4
4,88,ALINE,SOUZA,F,1981-09-04,Condomínio Sorocaba Shopping Center - Av. Dr. ...,2020-03-29,NaT,18878,500,225,Gerente,Administrativo,132,8.3

In [ ]:
import pandas as pd
import matplotlib .pyplot as plt
df["Data de Contratacao"] = pd.to_datetime(df["Data de Contratacao"], errors="coerce")
df["Data de Demissao"] = pd.to_datetime(df["Data de Demissao"],  errors="coerce")
df

,ID RH,Nome,Sobrenome,Genero,Data de Nascimento,Endereço,Data de Contratacao,Data de Demissao,Salario,VR,VT,Cargo,Área,Horas Extras,Avaliação do Funcionário
0,195,ADELINO,WERNECK,M,1997-04-27,"Av. Guilherme Campos, 500 - Jardim Santa Geneb...",2015-04-23,NaT,12954,700,200,Coordenador,Administrativo,161,9.8
1,102,ADRIANO,SOUZA,M,1993-12-09,"Av. Limeira, 722 - Areião, Piracicaba - SP, 13...",2020-12-05,NaT,1635,500,225,Estagiário,Marketing,57,7.3
2,342,ALFREDO,ARAUJO,M,1986-08-14,"Av. Limeira, 722 - Areião, Piracicaba - SP, 13...",2020-04-02,NaT,11153,750,300,Coordenador,Marketing,70,8.7
3,320,ALINE,SILVA,F,1976-06-22,"Av. Paulista, 1230 - Bela Vista, São Paulo - S...",2015-08-13,2021-08-12,898,500,200,Estagiário,Operações,174,7.4
4,88,ALINE,SOUZA,F,1981-09-04,Condomínio Sorocaba Shopping Center - Av. Dr. ...,2020-03-29,NaT,18878,500,225,Gerente,Administrativo,132,8.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,439,VITOR,SILVEIRA,M,1984-03-23,"Av. Paulista, 1230 - Bela Vista, São Paulo - S...",2017-11-01,NaT,4731,750,200,Analista,Logística,194,7.9
202,34,VITOR,MAGLHÃES,M,1995-07-23,"Av. São João, 2200 - Jardim das Colinas, São J...",2022-08-25,NaT,17685,600,250,Gerente,Operações,34,9.4
203,464,WESLEY,TEIXEIRA,M,1997-11-21,"Av. São João, 2200 - Jardim das Colinas, São J...",2015-11-17,2017-11-16,1612,750,300,Estagiário,Logística,83,8.7
204,514,YAGO,OLIVEIRA,M,1982-08-31,Condomínio Sorocaba Shopping Center - Av. Dr. ...,2022-10-01,NaT,1062,700,250,Estagiário,Comercial,205,8.2
205,163,YASMINI,RICHA,F,1979-02-25,"R. do Ósmio, 699 - Vila Mollon IV, Santa Bárba...",2022-08-07,NaT,13962,750,200,Coordenador,Logística,113,7.8